<header>
  <div class="container">
    <a routerLink="/">Бързо, лесно и вкусно за злоядковци</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Влезте в профила си</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">John</a>
          <div class="menu">
            <a routerLink="/profile">Профил</a>
            <a routerLink="/orders">Поръчки</a>
            <a>Излез от профила си</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Cart <span>3</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
