<header>
  <div class="container">
    <a routerLink="/" class="logo">Бързо, лесно и вкусно за злоядковци</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Влезте</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Профил</a>
            <a routerLink="/orders">Поръчки</a>
            <a (click)="logout()" >Излезте</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Кошница <span *ngIf="cartQuantity">{{cartQuantity}}</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
